body{
    color: white;
    margin: 0px;
    background-color: rgb(34, 34, 34);
}

h1{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;
    box-shadow: inset 20px 20px 100px rgba(0,0,0,0.8); 
}

.ball{
    margin-left: 30px;
    margin-top: 35px;
}

div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(0.8);
    size: cover;
}

.jobb{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 10px;
    margin: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

a{
    text-align: right;
    color: white;
    text-decoration: none;
}

.tartalom{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin-left: 30px;
}

.menu{
    background-color: rgb(16, 16, 16);
    height: 300px;
    text-align: center;    
    padding-top: 5px;
}

.gomb1,.gomb2,.gomb3{
    border: solid 1px white;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 120px;
}

.gombok{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.kepek{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 40px;
    width: 60%; 
    height: 50%;
}

.kepek img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: inset 20px 20px 100px rgba(0,0,0,0.8); 
}

.kep1{
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
}
.kep2{
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
}
.kep3{
    grid-column: 1/1;
    grid-row: 2/4;
    position: relative;
}
.kep4{
    grid-column: 2/3;
    grid-row: 2/4;
    position: relative;
}
.kep5{
    grid-column: 3/4; 
    grid-row: 3/5;
    height: 50%;
    position: relative;
}

.specialitas{
    display: grid;
    justify-items: center;
}

.cimke{
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
